    /* .alerta-contenedor{
        background-color: coral;
        color: rgb(67, 231, 52);
        border-radius: 10px;
        width: 10%;
        text-align: center;
    
    }


    .alerta-parrafo{
        color: rgb(0, 0, 0);
    }

    .btn-primary{
        background-color: rgb(16, 223, 16) !important;
        margin-bottom: 20% !important;
    } */